.humor {
    /* font styling*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 75pt;
    color: #333;
    margin-top: 35px;
    margin-bottom: 25px;

    text-align: center;
}

.errorContent {
    /* font styling*/
    font-family: 'LEMONMILK-Light';
    font-size: 40pt;
    font-weight: bold;
    color: #333;
    margin-bottom: 25px;

    text-align: center;
}

.errorBody {
    /* font styling*/
    font-family: 'LEMONMILK-Light';
    font-size: 20pt;
    color: #333;

    text-align: center;
}

.homeLink_content {
    margin-top: 100px;
    text-decoration: none;
    text-align: center;
}

.homeLink {
    /* font styling*/
    font-family: 'LEMONMILK-Light';
    font-size: 15pt;
    font-weight: lighter;
    color: #333;
    text-decoration: none;

    text-align: center;
}

.homeLink:hover {
    transition: ease-in-out 0.2s;
    color: rgb(80, 80, 80);
}